 h1{

        color: rgb(253, 52, 176); font-size: 25px;
    } 
       p{
        color: rgb(3, 219, 75); font-family:sans-serif ;
       }
       img{
        border: 1px solid rgb(48, 4, 128);
    
       }